<div id="<%= dom_id url %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Original:</strong>
    <%= url.original %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shortened:</strong>
    <%= url.shortened %>
  </p>

</div>
